# Car Price Predictor
This project takes data from multiple CSV files, taken from ~100,000 UK used car listings, and produces a linear regression model to predict a cars price from its features, such as make, model, mileage, etc.

## Import Local Dependencies
This project relys upon
* Pandas (Data Processing)
* Matplotlib (Visualisation)
* Numpy (Calculations)
* Scikit-learn (Machine Learning)

In [1]:
# Pandas
import pandas as pd

# Scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

# Numpy
import numpy as np

# Matplotlib
import matplotlib

## Import Data
The data for this project is stored in multiple .csv files, in the data directory.

This block loads that data into one Pandas dataframe, while removing redundant data.

In [7]:
brands = ["audi", "bmw", "mercedes", "ford", "hyundi", "skoda", "toyota", "vauxhall", "vw"]

df = pd.DataFrame(columns=[
    "model", 
    "year", 
    "price", 
    "transmission", 
    "mileage", 
    "fuelType", 
    "engineSize", 
    "tax", 
    "mpg", 
    "brand"]
)

for brand in brands:
    loaded = pd.read_csv(f"./data/{brand}.csv")
    loaded["brand"] = brand
    
    df = pd.concat([df, loaded])
    
df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)
df

,model,year,price,transmission,mileage,fuelType,engineSize,tax,mpg,brand
0,A1,2017,12500,Manual,15735,Petrol,1.4,150,55.4,audi
1,A6,2016,16500,Automatic,36203,Diesel,2.0,20,64.2,audi
2,A1,2016,11000,Manual,29946,Petrol,1.4,30,55.4,audi
3,A4,2017,16800,Automatic,25952,Diesel,2.0,145,67.3,audi
4,A3,2019,17300,Manual,1998,Petrol,1.0,145,49.6,audi
...,...,...,...,...,...,...,...,...,...,...
15152,Eos,2012,5990,Manual,74000,Diesel,2.0,125,58.9,vw
15153,Fox,2008,1799,Manual,88102,Petrol,1.2,145,46.3,vw
15154,Fox,2009,1590,Manual,70000,Petrol,1.4,200,42.0,vw
15155,Fox,2006,1250,Manual,82704,Petrol,1.2,150,46.3,vw
15156,Fox,2007,2295,Manual,74000,Petrol,1.2,145,46.3,vw